@import url('https://fonts.googleapis.com/css2?family=Itim&family=Luckiest+Guy&family=Tauri&family=Baloo+2:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




.spacer {
    aspect-ratio:1920/300;
    width: 100%;
    max-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .navbar_spacer {
    aspect-ratio:1920/500;
    width: 100%;
    max-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .fillblob {
    background-image: url("src/assets/svg/fillblob.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio:800/300;
  }

  .schedule-background {
    background-image: url("src/assets/images/test.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1536/520;
  }

  .offer-background {
    background-image: url("src/assets/images/background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1484/720;
  }


  .navbar {
    background-image: url("src/assets/svg/navbar.svg");
  }

  .footer {
    background-image: url("src/assets/svg/footer.svg");
  }

  .aboutup {
    background-image: url("src/assets/svg/aboutup.svg");
  }

  .aboutdown {
    background-image: url("src/assets/svg/aboutdown.svg");
  }

  .galleryup {
    background-image: url("src/assets/svg/galleryup.svg");
  }

  .gallerydown {
    background-image: url("src/assets/svg/gallerydown.svg");
  }



  
  


