@import url('https://fonts.googleapis.com/css2?family=Itim&family=Luckiest+Guy&family=Tauri&family=Baloo+2:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




.spacer {
    aspect-ratio:1920/300;
    width: 100%;
    max-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .navbar_spacer {
    aspect-ratio:1920/200;
    width: 100%;
    max-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  .fillblob {
    background-image: url("./assets/svg/fillblob.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio:700/500;
    min-height: 20rem;
    max-height: 30rem;
    max-width: 20rem;
    min-width: 10rem;
  }

  @media (min-width: 1024px) {
    .fillblob {
    background-image: url("./assets/svg/fillblob.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio:800/300;
    min-height: 30rem;
    max-height: 50rem;
    max-width: 30rem;
    }
}

  .navbar {
    background-image: url("./assets/svg/navbar.svg");
  }

  .footer {
    background-image: url("./assets/svg/footer.svg");
  }

  .aboutup {
    background-image: url("./assets/svg/aboutUP.svg");
  }

  .aboutdown {
    background-image: url("./assets/svg/aboutDOWN.svg");
  }

  .galleryup {
    background-image: url("./assets/svg/galleryUP.svg");
  }

  .gallerydown {
    background-image: url("./assets/svg/galleryDOWN.svg");
  }



  
  


